<script src="https://cdnjs.cloudflare.com/ajax/libs/jscolor/2.0.4/jscolor.js"></script>
<header class=center>
  <h1>Create your player!</h1>
</header>
<div class=center>
  <canvas id="canvas" width="300" height="450" ></canvas>
</div>
<div class="row">
  <form class="col s12">
    <div class="row">
      <div class="input-field col s6">
        <input placeholder="" id="hair_color" type="text" class="jscolor validate haircol">
        <label for="hair_color">Hair Colour</label>
      </div>
      <div class="input-field col s6">
        <input placeholder="" id="eye_color" type="text" class="jscolor validate haircol">
        <label for="eye_color">Eye Colour</label>
      </div>
    </div>
    <div class=row>
      <div class="input-field col s6">
        <input placeholder="" id="skin_color" type="text" class="jscolor validate haircol">
        <label for="skin_color">Skin Colour</label>
      </div>
      <div class="input-field col s6">
        <input placeholder="" id="tee_color" type="text" class="jscolor validate haircol">
        <label for="tee_color">T-Shirt Colour</label>
      </div>
    </div>
    <div class=row>
      <div class="input-field col s6">
        <input placeholder="" id="trouser_color" type="text" class="jscolor validate haircol">
        <label for="trouser_color">Trouser Colour</label>
      </div>
      <div class="input-field col s6">
        <input placeholder="" id="shoe_color" type="text" class="jscolor validate haircol">
        <label for="shoe_color">Shoe Colour</label>
      </div>
    </div>
  </form>
  <a class="waves-effect waves-light btn"id="btnChange">Change</a>
</div>
<script src=/javascripts/canvas.js></script>
