<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Full jQuery -->
    <script src="https://code.jquery.com/jquery-3.1.1.js"></script>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css"/>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
    <!-- Icons add for ease of usability! -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- import the mighty jquery -->
    <!-- Auth0 lock script -->
    <script src="https://cdn.auth0.com/js/lock/10.5/lock.min.js"></script>
    <!-- Setup the viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  </head>
  <body>
    <nav>
      <div class="nav-wrapper red darken-2">
        <a href=# class="brand-logo center">Lilly Hack</a>
        <ul id=nav-mobile class=right hide-on-med-and-down>
          <li><a href="test">thing a</a></li>
          <li><a href="#">thing b</a></li>
        </ul>
      </div>
    </nav>
    <main class="container">
      <div class="card z-depth-2">
        {{{body}}}
      </div>
    </main>

  </body>
</html>
