<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Full jQuery -->
    <script src="https://code.jquery.com/jquery-3.1.1.js"></script>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css"/>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
    <!-- Icons add for ease of usability! -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- import the mighty jquery -->
    <!-- Auth0 lock script -->
    <script src="https://cdn.auth0.com/js/lock/10.5/lock.min.js"></script>
    <script>
      $(document).ready(
        function() {
          $(".button-collapse").sideNav();
      });

      $('.button-collapse').sideNav({
        menuWidth: 300, // Default is 240
        edge: 'right', // Choose the horizontal origin
        closeOnClick: true, // Closes side-nav on <a> clicks, useful for Angular/Meteor
        draggable: true // Choose whether you can drag to open on touch screens
      }
);</script>
    <!-- Setup the viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta charset="utf-8">
    <meta name="theme-color" content="#c62828">
  </head>
  <body>
    <nav>
      <div class="nav-wrapper red darken-3">
        <a href="#!" class="brand-logo center ">The Health Challenge</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="/">Home</a></li>
          <li><a href="/create">Create</a></li>
          <li><a href="/leaderboard">Leaderboard</a></li>
          <!-- Dropdown Trigger -->
          <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Todos<i class="material-icons right">arrow_drop_down</i></a></li>
        </ul>

        <ul class="side-nav" id="mobile-demo">
          <li><a href="/">Home</a></li>
          <li><a href="/create">Create/Edit Character</a></li>
          <li><a href="/todo">View To-Dos</a></li>
          <li><a href="/todo/add">Add To-Do</a></li>
          <li><a href="/leaderboard">Leaderboard</a></li>
        </ul>
      </div>
    </nav>

      <ul id="dropdown1" class="dropdown-content">
        <li><a href="/todo">View Todos</a></li>
        <li class="divider"></li>
        <li><a href="/todo/add">Add Todo</a></li>
      </ul>
    <main class="container">
      <div class="card z-depth-2">
        {{{body}}}
      </div>
    </main>
    <div class="fixed-action-btn toolbar">
      <a class="btn-floating btn-large red">
        <i class="large material-icons">settings</i>
      </a>
      <ul>
        <li class="waves-effect waves-light"><a href="/"><i class="material-icons">supervisor_account</i>Login</a></li>
        <li class="waves-effect waves-light"><a href="#!"><i class="material-icons">lock_outline</i>Logout</a></li>
      </ul>
    </div>
  </body>
</html>
