<header>
  <h1>{{title}}</h1>
</header>
<p>Click the user, and you can see their stats - health and total experience.</p>
<p>The more experience you have, the higher up the board you are!</p>
<ul id="leaders" class="collapsible popout" data-collapsible="accordion">
</ul>

<script src="/javascripts/leaders.js"></script>
