<h1>{{title}}</h1>
<p>
  Welcome to {{title}}
</p>
<a class="waves-effect waves-light btn btnLogin">button</a>
<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/login.js"></script>
