body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

main>.card {
  padding:20px;
}

#canvas {
  border: 2px dashed green;
  margin:10px;
}

a {
  color: #00B7FF;
}

#loginForm {
  padding-top:10px;
}

.hidden {
  display:none;
}

.selPara {
  display:inline;
}

.jscolor {
  margin-top:10px!important;
  border-radius:5px!important;
  padding-left:10px!important;
}

input {
  width:200px!important;
}
/* please be temporary */
.todo-card {
  width: 600px;
}

.tickoff {
  float:right!important;
  margin-top:10px;
}
